.loginError {
  color: red;
  font-weight: bold;
  padding-bottom: 1rem;
}

body {
  padding: 1rem;
}

.formItem {
  padding-bottom: 0.5rem;
}

.event-row-submitted {
  background-color: darkred;
}

.event-row-pending {
  background-color: darkblue;
}

.event-row-cancelled {
  background-color: darkslategrey;
}

nav {
  border-bottom: "solid 1px";
  padding-bottom: "1rem";
}
